/* navbar */
.c-main-nav {
    z-index: 1000;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
}

.logo {
    border-radius: 50%;
    background-color: #458FF6;
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-M {
    font-size: 26px;
    color: white;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.logo-name {
    margin-left: 10px;
    color: #233348;
    font-size: 24px;
}

.nav-ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    color: #1F1534;
}

.nav-li a {
    text-decoration: none;
    color: #1F1534;
    font-size: 18px;
}

.nav-li a:hover {
    text-decoration: underline;
    transition: 0.4s ease;
}

.c-nav-collapse {
    flex-grow: 0;
}

.c-cursor-pinter {
    cursor: pointer;
}

/* end navbar */

/* scollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.195);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #458FF6;
    border-radius: 2px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #458FF6;
}

/* hero section */

.c-hero-element {
    transform: translateX(-200px) translateY(63px);
    z-index: -1;
}

.header-text {
    width: 445px;
    height: 338px;
    margin-top: 140px;
    border-radius: 55px;
}

.healthcare {
    color: #000000;
}

.info {
    font-weight: 300;
    font-size: 21px;
    color: #7d7987;
}

.btn {
    width: 200px;
    height: 56px;
    margin-top: 20px;
    border-radius: 55px;
    color: white;
    font-size: 18px;
    background-color: #458FF6;
}

/* our services */

.service {
    margin-top: 150px;
}

.title {
    font-size: 36px;
    color: #000000;
}

.service-info {
    font-weight: 300px;
    font-size: 18px;
    color: #7D7987;
}

/* cards */
/* first crad */

.service-card {
    margin-top: 65px;
    border-radius: 20px;
}

.doc-search {
    margin-top: 33px;
}

.titles {
    font-size: 24px;
    margin-top: 20px;
    color: #000000;
    line-height: 56px;
}

.card-text {
    font-size: 16px;
    color: #7D7987;
}

.card-style {
    width: 350px;
    height: 300px;
    margin-top: 65px;
    border-radius: 20px;
}

.c-service-bg {
    transform: translate(-400px, -200px);
    z-index: -1;
}

.c-service-element {
    transform: translate(1207px, 305px);
    z-index: -1;
}

/* third section */
.providers {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000;
}

.healthcare {
    margin-top: 200px;
}

.leading {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #7D7987;
}

.More {
    width: 200px;
    height: 60px;
    border-radius: 55px;
    color: #458FF6;
    background-color: white;
    border: 1.4px solid #458FF6
}

/* fouth section */
.download {
    margin-top: 150px;
}

.icon {
    padding: 14px 0px 15px 15px;
}

.services-line {
    width: 56px;
    height: 2px;
    background-color: #000;
}

/* fifth section */
.customer-opinion {
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    min-height: 425px;
}

.man img {
    border: 4px solid #fff;
    border-radius: 50%;
}

.edward {
    margin-left: 20px;
}

.man-name {
    font-size: 22px;
}

.portal-info {
    margin-left: 90px;
}

.portal {
    font-size: 19px;
    line-height: 30px;
}

.cardStyle {
    min-height: 512px;
    box-shadow: 10px 40px 50px 0px #E5E9F666;
    border-radius: 20px;
}

.textStyle {
    padding: 25px 0px 0px 20px;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: #000;
}

.text-card {
    padding: 10px 0px 0px 20px;
    font-size: 16px;
    color: #7D7987;
}

.images {
    border-radius: 20px;
}

.card-body a {
    padding: 10px 0px 0px 20px;
}

/* footer */

.footer {
    background: linear-gradient(183.41deg, #67C3F3 20.88%, #5A98F2 112.41%);
}

.logo {
    border-radius: 50%;
    background-color: #fff;
}

.Mlogo {
    border-radius: 50%;
    justify-content: space-between;
    font-size: 26px;
    font-weight: 700;
    line-height: 32.63px;
    text-align: left;
    color: #5B9BF3;
}

.name {
    padding: 5px 0px 0px 10px;
    font-size: 19px;
    line-height: 30.12px;
    /* text-align: left; */
}

.footer h5 {
    font-size: 20px;

}

.footer-content li {
    margin-bottom: 10px;
}

.footer-content li a {
    display: block;
    font-size: 16px;
}
